body {
    margin: 0;
    padding: 0;
  }
  :root {
    --primary-font: 'Arial', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --primary-color: #081466;
    --secondary-color: #ef6f7f;
    --secondary-color-light: #e898a6;
    --headline-color: #f7f7f9;
    --main-color: #ffffff;  
    /* Above color is fully white */
    --tertiary-color: #4fc194;
    --ternary-color: #999fbb;
    --ternary-color-light: rgb(153,159,187, 0.85);
    --slate: #cbd5e1;
  }
  *{
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
  h1, h2, h3, h4, h5, h6{
    font-family: var(--secondary-font);
    color: var(--primary-color);
  }
  
  p, button{
    font-family: var(--primary-font);
    color: var(--primary-color);
  }
  label{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 2rem;
  }
  body{
    background-color: var(--slate);
    overflow-y: hidden;
  }
  
  a{
    text-decoration: none;
  }
  ul,li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding:0;
  }
  .dashboard{
    max-height: 100vh;
  }
  nav{
    height: 4.5rem;
  } 
  .content{
    height: calc(100vh - 4.5rem);
    width: 100%;
    overflow-y: scroll !important;
    /* margin-top: 4.5rem */

  }
  .sidebar-height{
    height: calc(100vh - 4.5rem);
    /* margin-top: 4.5rem */
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';

.app-btn {
  @apply bg-primary hover:bg-gray-700 text-white py-2 px-8 rounded-full
  }
.app-side-li {
  @apply hover:bg-primary px-3 py-0.5 hover:rounded-full hover:text-white
  }
.app-nav-li {
    @apply flex items-center gap-4 hover:bg-main px-3 py-0.5 hover:rounded-full hover:text-primary
  }
.app-pink-btn {
    @apply bg-secondary text-headline py-0.5 lg:p-2 rounded-lg lg:text-xl w-24 text-center mt-2 lg:mt-6
  }
.app-radio-style-disable {
    @apply bg-transparent border-none appearance-none
  }




